{% extends "base.html" %}

{% block content %}
<h1>Статьи</h1>
{% if current_user.is_authenticated %}
    <a href="new" class="btn btn-secondary">Добавить статью</a>
{% endif %}

{% for item in articles%}
<a href="article/{{item.id}}"><div style="text-align: center; color: black;" class="col-md6 border rounded min-vw-60">
    <h2>{{item.title}}</h2>
    {% if item.previu != 'none' %}
    <div>
        <img style="width: 50%; height: 50%" class="img-thumbnail" src="../../static/articles/previu/{{item.previu}}">
    </div>
    {% endif %}
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/articles/edit/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        {% endif %}
        {% if current_user.is_authenticated and current_user == item.user or current_user.admin%}
        <a href="/articles_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
</div>
{% endfor %}
{% endblock %}