{% extends "base.html" %}

{% block content %}
<h2>Добро пожаловать, {{user}}!</h2>
<h3>Кто мы такие?</h3>
<p>Гик - это человек, что чрезвычайно увлечен чем-либо, фанат. Обычно, так называли людей, что были увлечены высокими технологиями, но позже (2000-е) распространилось другое значение слова: человек, увлечённый популярной культурой, член фэндома Есть также точка зрения, что гики образуют единое сообщество поклонников фантастики и технологий.</p>
<img src="static/img/geek.jpg">
<p>Стоит разделить нердов от гиков, ибо они хоть и похожие, но они являются разные в своем понятии. Нерд - замкнутый интеллектуал, увлекающийся чем-то узкоспециальным и непонятным большинству. В чем же их отличия? Большинство сходится на том, что «нёрд» оторван от общества, в отличие от «гика», которому его хобби не мешает общаться. Кроме того, слово «гик» ближе к понятию «фанат», а «нерд» — к понятию «умник, интеллектуал»</p>

<p>В культуре гики ярким примером показаны в сериале Теория большого взрыва, в особенности Шелдон Купер. Интересы главных героев часто непонятны окружающих, а по сути они увлекаются фантастикой и наукой.</p>
<img src="static/img/sheldon.jpg">
<p>У гиков присутствуют разные интересы. Среди типично «гиковских» хобби часто упоминаются фантастика, компьютерные и настольные игры, комиксы, аниме, моделизм, косплей. Фестиваль Comic-con часто упоминается как одно из главных «гиковских» мероприятий. 25 мая отмечается некоторыми фанатами как «Международный день гиков» — в честь совпадения нескольких значимых для фантастики дат.</p>
<img src="static/img/comic.jpg">
<p></p>
{% endblock %}